body {
    max-width: 1100px;
    
    
    h1, p {
        line-height: 1.5;
        margin: 0;
    }
    
    a {
        text-decoration: none;
    }
   
    h1 {
        text-align: center;
        font-size: 45px;
    }
    button {
        background:transparent;
        border: 0;
        
    }
   
    h2{
        margin: 0;
    }
   
    h1, h2, span {
        font-family: $font1; 
    }
   
    p, b, a {
        font-family: $font2;
    }
}

p {
    text-align: center;
    font-size: 14px;
}



